.container {
  margin: 3rem auto;
  max-width: 90vw;
  text-align: center;
  width: 54ch;
  
  .container_wrapper {
    h2,
  h1 {
    text-decoration: underline;
    color: #24529c;
  }
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    .cont {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      margin-top: 1rem;
      padding: 5px 15px 15px 20px;
      border-radius: 1rem;

      @media screen and (max-width: 360px) {
      }

      display: flex;
      flex-direction: column;
      justify-content: center;

      .top,
      .bottom {
        font-weight: 530;
        font-size: 1.3rem;
      }
    }

    .cont2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      height: 90%;
      width: 90%;
      flex-wrap: wrap;

      .header {
        font-size: 1.4rem;
        text-decoration: underline;
      }
     
      .top,.bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .card {
          padding: 1rem 1rem 1rem 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          height: 90%;
          width: 90%;
        }
      }
      
    }

    .cont3 {
      h1{
        text-align: center;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .inner {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .innercard {
          box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
          transition: 0.3s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 90%;
          width: 90%;
        }
      }
    }
  }
}
